<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jcabi.manifests.Manifests" level="info" additivity="false" />
    <logger name="org.apache.http.wire" level="info" additivity="false" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>